body {
    background-image: url('b1.jpg');
    background-size: cover; 
    font-family: Verdana;
   
  }
  header,footer,section,article{
    border: 5px solid grey;
    margin : 2px;
    padding: 3px;
    
 
  }